In [3]:
import json
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string
from cleantext import clean
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

In [3]:
file_path = 'movie_dataset.csv'

data = pd.read_csv(file_path)

data

,imdb_id,title,plot_synopsis,tags,split,synopsis_source
0,tt0057603,I tre volti della paura,Note: this synopsis is for the orginal Italian...,"cult, horror, gothic, murder, atmospheric",train,imdb
1,tt1733125,Dungeons & Dragons: The Book of Vile Darkness,"Two thousand years ago, Nhagruul the Foul, a s...",violence,train,imdb
2,tt0033045,The Shop Around the Corner,"Matuschek's, a gift store in Budapest, is the ...",romantic,test,imdb
3,tt0113862,Mr. Holland's Opus,"Glenn Holland, not a morning person by anyone'...","inspiring, romantic, stupid, feel-good",train,imdb
4,tt0086250,Scarface,"In May 1980, a Cuban man named Tony Montana (A...","cruelty, murder, dramatic, cult, violence, atm...",val,imdb
...,...,...,...,...,...,...
14823,tt0219952,Lucky Numbers,"In 1988 Russ Richards (John Travolta), the wea...","comedy, murder",test,wikipedia
14824,tt1371159,Iron Man 2,"In Russia, the media covers Tony Stark's discl...","good versus evil, violence",train,wikipedia
14825,tt0063443,Play Dirty,During the North African Campaign in World War...,anti war,train,wikipedia
14826,tt0039464,High Wall,Steven Kenet catches his unfaithful wife in th...,murder,test,wikipedia
14827,tt0235166,Against All Hope,"Sometime in the 1950s in Chicago a man, Cecil ...",christian film,test,wikipedia

In [5]:
data.drop_duplicates(subset='plot_synopsis', inplace=True)

In [6]:
data

,imdb_id,title,plot_synopsis,tags,split,synopsis_source
0,tt0057603,I tre volti della paura,Note: this synopsis is for the orginal Italian...,"cult, horror, gothic, murder, atmospheric",train,imdb
1,tt1733125,Dungeons & Dragons: The Book of Vile Darkness,"Two thousand years ago, Nhagruul the Foul, a s...",violence,train,imdb
2,tt0033045,The Shop Around the Corner,"Matuschek's, a gift store in Budapest, is the ...",romantic,test,imdb
3,tt0113862,Mr. Holland's Opus,"Glenn Holland, not a morning person by anyone'...","inspiring, romantic, stupid, feel-good",train,imdb
4,tt0086250,Scarface,"In May 1980, a Cuban man named Tony Montana (A...","cruelty, murder, dramatic, cult, violence, atm...",val,imdb
...,...,...,...,...,...,...
14823,tt0219952,Lucky Numbers,"In 1988 Russ Richards (John Travolta), the wea...","comedy, murder",test,wikipedia
14824,tt1371159,Iron Man 2,"In Russia, the media covers Tony Stark's discl...","good versus evil, violence",train,wikipedia
14825,tt0063443,Play Dirty,During the North African Campaign in World War...,anti war,train,wikipedia
14826,tt0039464,High Wall,Steven Kenet catches his unfaithful wife in th...,murder,test,wikipedia
14827,tt0235166,Against All Hope,"Sometime in the 1950s in Chicago a man, Cecil ...",christian film,test,wikipedia

In [8]:
def cleaning(text):
    text=clean(text,no_urls=True,replace_with_url="")
    words = word_tokenize(text)
    alphaOnly = [word for word in words if word.isalpha()]
    Low = [word.lower() for word in alphaOnly]
    stWords = set(stopwords.words('english'))
    cleanText = [word for word in Low if word not in stWords]
    cleanText=" ".join(cleanText)
    
    return cleanText

In [10]:
data['cleaned_text'] = data['plot_synopsis'].apply(lambda x: cleaning(x))

In [11]:
data

,imdb_id,title,plot_synopsis,tags,split,synopsis_source,cleaned_text
0,tt0057603,I tre volti della paura,Note: this synopsis is for the orginal Italian...,"cult, horror, gothic, murder, atmospheric",train,imdb,note synopsis orginal italian release segments...
1,tt1733125,Dungeons & Dragons: The Book of Vile Darkness,"Two thousand years ago, Nhagruul the Foul, a s...",violence,train,imdb,two thousand years ago nhagruul foul sorcerer ...
2,tt0033045,The Shop Around the Corner,"Matuschek's, a gift store in Budapest, is the ...",romantic,test,imdb,matuschek gift store budapest workplace alfred...
3,tt0113862,Mr. Holland's Opus,"Glenn Holland, not a morning person by anyone'...","inspiring, romantic, stupid, feel-good",train,imdb,glenn holland morning person anyone standards ...
4,tt0086250,Scarface,"In May 1980, a Cuban man named Tony Montana (A...","cruelty, murder, dramatic, cult, violence, atm...",val,imdb,may cuban man named tony montana al pacino cla...
...,...,...,...,...,...,...,...
14823,tt0219952,Lucky Numbers,"In 1988 Russ Richards (John Travolta), the wea...","comedy, murder",test,wikipedia,russ richards john travolta weatherman harrisb...
14824,tt1371159,Iron Man 2,"In Russia, the media covers Tony Stark's discl...","good versus evil, violence",train,wikipedia,russia media covers tony stark disclosure iden...
14825,tt0063443,Play Dirty,During the North African Campaign in World War...,anti war,train,wikipedia,north african campaign world war ii captain do...
14826,tt0039464,High Wall,Steven Kenet catches his unfaithful wife in th...,murder,test,wikipedia,steven kenet catches unfaithful wife apartment...
14827,tt0235166,Against All Hope,"Sometime in the 1950s in Chicago a man, Cecil ...",christian film,test,wikipedia,sometime chicago man cecil moe michael madsen ...

In [13]:
lemmatizer = WordNetLemmatizer()

def lemmatize_text(text):
    tokens = word_tokenize(text)
    lemmatized_tokens = [lemmatizer.lemmatize(word) for word in tokens]
    return ' '.join(lemmatized_tokens)

In [19]:
data['lemmatized_text'] = data['cleaned_text'].apply(lambda x: lemmatize_text(x))

In [58]:
data=pd.read_csv('moviesynopsis.csv')

In [59]:
data['tags']=data['tags'].str.split(',')

In [60]:
specified_genres = ['violence', 'comedy', 'cult', 'murder', 'mystery']

In [61]:
def get_rows_for_genre(genre):
    genre_count = 0
    selected_rows = []
    for index, row in data.iterrows():
        if genre in row['tags'] and genre_count < 5:
            selected_rows.append(row)
            genre_count += 1
    return selected_rows

# Filtering the DataFrame based on specified genres and limit to 5 rows per genre
selected_rows = []
for genre in specified_genres:
    selected_rows.extend(get_rows_for_genre(genre))

# Creating a DataFrame with selected columns ('title', 'plot', 'genre') from the filtered rows
result_df = pd.DataFrame(selected_rows, columns=['title', 'lemmatized_text', 'tags'])

In [62]:
for i in result_df.index:
    result_df['tags'].loc[i] = result_df['tags'].loc[i][0]

In [63]:
result_df

,title,lemmatized_text,tags
1,Dungeons & Dragons: The Book of Vile Darkness,two thousand year ago nhagruul foul sorcerer r...,violence
8,Little Caesar,criminal caesar enrico rico bandello edward ro...,violence
34,Busanhaeng,truck approach toll booth sanitized several wo...,violence
37,Seven Years in Tibet,introduction show young dalai lama receiving g...,violence
53,Timber Falls,couple seen tortured sarah escape bonding boyf...,violence
23,Bitter Moon,nigel dobson hugh grant wife fiona kristn scot...,comedy
38,Dracula 2000,england schooner demeter nearing england crew ...,comedy
44,Paddington,explorer named montgomery clyde tim downie doc...,comedy
49,Batman Beyond: Return of the Joker,late one night future gotham several member in...,comedy
59,The Men Who Stare at Goats,movie open brigadier general dean hopgood step...,comedy
0,I tre volti della paura,note synopsis orginal italian release segment ...,cult
10,Mitt liv som hund,action take place year sweden troubled ingemar...,cult
11,The Brood,somafree institute hal raglan humiliates patie...,cult
28,Bean,bean rowan atkinson hopelessly clumsy destruct...,cult
32,Ultraviolet,century hemaglophagic virus hgv obscure virus ...,cult
13,The Last Emperor,arrival train pull station north china soldier...,murder
30,Taste of Fear,contains spoilersin england official drag lake...,murder
42,Saints and Soldiers,allied troop defeated german battle bulge malm...,murder
43,The Amazing Spider-Man,scientist richard parker campbell scott playin...,murder
56,Rivals,divorcee hazel show teenage daughter laurie mo...,murder
7,Flightplan,kyle pratt jodie foster propulsion engineer ba...,mystery
115,AntikÃ¶rper,berlin pederast serial killer gabriel engel la...,mystery
211,The Terminator,apocalyptic battlefield year ruin city los ang...,mystery
220,Witness,rachel lapp kelly mcgillis young amish widow s...,mystery
227,The Rite,michael kovak colin disillusioned father mortu...,mystery

In [64]:
result_df.to_csv('filtered_movies.csv', index=False)

In [65]:
data=pd.read_csv('filtered_movies.csv')

In [67]:
data

,title,lemmatized_text,tags
0,Dungeons & Dragons: The Book of Vile Darkness,two thousand year ago nhagruul foul sorcerer r...,violence
1,Little Caesar,criminal caesar enrico rico bandello edward ro...,violence
2,Busanhaeng,truck approach toll booth sanitized several wo...,violence
3,Seven Years in Tibet,introduction show young dalai lama receiving g...,violence
4,Timber Falls,couple seen tortured sarah escape bonding boyf...,violence
5,Bitter Moon,nigel dobson hugh grant wife fiona kristn scot...,comedy
6,Dracula 2000,england schooner demeter nearing england crew ...,comedy
7,Paddington,explorer named montgomery clyde tim downie doc...,comedy
8,Batman Beyond: Return of the Joker,late one night future gotham several member in...,comedy
9,The Men Who Stare at Goats,movie open brigadier general dean hopgood step...,comedy
10,I tre volti della paura,note synopsis orginal italian release segment ...,cult
11,Mitt liv som hund,action take place year sweden troubled ingemar...,cult
12,The Brood,somafree institute hal raglan humiliates patie...,cult
13,Bean,bean rowan atkinson hopelessly clumsy destruct...,cult
14,Ultraviolet,century hemaglophagic virus hgv obscure virus ...,cult
15,The Last Emperor,arrival train pull station north china soldier...,murder
16,Taste of Fear,contains spoilersin england official drag lake...,murder
17,Saints and Soldiers,allied troop defeated german battle bulge malm...,murder
18,The Amazing Spider-Man,scientist richard parker campbell scott playin...,murder
19,Rivals,divorcee hazel show teenage daughter laurie mo...,murder
20,Flightplan,kyle pratt jodie foster propulsion engineer ba...,mystery
21,AntikÃ¶rper,berlin pederast serial killer gabriel engel la...,mystery
22,The Terminator,apocalyptic battlefield year ruin city los ang...,mystery
23,Witness,rachel lapp kelly mcgillis young amish widow s...,mystery
24,The Rite,michael kovak colin disillusioned father mortu...,mystery

In [20]:
selected_rows = pd.DataFrame(columns=data.columns)

In [16]:
for genre in specified_genres:
    genre_rows = data[data['tags'].apply(lambda x: genre in x)].head(5)
    selected_rows = pd.concat([selected_rows, genre_rows])

In [17]:
selected_rows

Empty DataFrame
Columns: [imdb_id, title, plot_synopsis, tags, split, synopsis_source, cleaned_text, lemmatized_text]
Index: []

In [32]:
data.to_csv('moviesynopsis.csv', index=False)

# Dataset for sentiment visualization

In [23]:
col_names=['id', 'id2', 'id3', 'name', 'line']

df = pd.read_csv(r"movie_lines.tsv", sep='\t', on_bad_lines='skip', names=col_names)

df

,id,id2,id3,name,line
0,L1045,u0,m0,BIANCA,They do not!
1,L1044,u2,m0,CAMERON,They do to!
2,L985,u0,m0,BIANCA,I hope so.
3,L984,u2,m0,CAMERON,She okay?
4,L925,u0,m0,BIANCA,Let's go.
...,...,...,...,...,...
293197,L666371,u9030,m616,DURNFORD,Lord Chelmsford seems to want me to stay back ...
293198,L666370,u9034,m616,VEREKER,I'm to take the Sikali with the main column to...
293199,L666369,u9030,m616,DURNFORD,Your orders Mr Vereker?
293200,L666257,u9030,m616,DURNFORD,Good ones yes Mr Vereker. Gentlemen who can ri...
293201,L666256,u9034,m616,VEREKER,Colonel Durnford... William Vereker. I hear yo...

In [24]:
df.drop_duplicates(subset='line', inplace=True)

In [25]:
df.drop(columns=['id', 'id2', 'id3'], inplace=True)

In [26]:
df['name'].nunique()

5210

In [27]:
def cleaned_data(text):
    text=clean(text,no_urls=True,replace_with_url="")
    words = word_tokenize(text)
    alphaOnly = [word for word in words if word.isalpha()]
    Low = [word.lower() for word in alphaOnly]
    cleanText=" ".join(Low)
    
    return cleanText

In [28]:
df['cleaned_line'] = df['line'].apply(lambda x: cleaning(x))

In [29]:
df

,name,line,cleaned_line
0,BIANCA,They do not!,
1,CAMERON,They do to!,
2,BIANCA,I hope so.,hope
3,CAMERON,She okay?,okay
4,BIANCA,Let's go.,let go
...,...,...,...
293197,DURNFORD,Lord Chelmsford seems to want me to stay back ...,lord chelmsford seems want stay back basutos
293198,VEREKER,I'm to take the Sikali with the main column to...,take sikali main column river
293199,DURNFORD,Your orders Mr Vereker?,orders mr vereker
293200,DURNFORD,Good ones yes Mr Vereker. Gentlemen who can ri...,good ones yes mr vereker gentlemen ride shoot
293201,VEREKER,Colonel Durnford... William Vereker. I hear yo...,colonel durnford william vereker hear seeking ...

In [ ]:
df.to_csv('movielinesDataset.csv', index=False)